@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  border: 1px solid tan;
  font-family: "Lato", sans-serif;
  background-color: #171C24;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  appearance: none;
  width: 8px;
  background-color: rgb(200, 200, 200, 0.52);
}
::-webkit-scrollbar-thumb {
  background-color: #919eab;
  border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: #171c24;
}
