@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: #6309E0,
  $secondary: #676778,
  $surface: #222B36,
  $background: #fff,
  $error: color-palette.$red-900,
);

a {
  color: inherit;
}

